ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}
li {
    float: left;
}
 a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    background-color: #111;
    font-size: 30px;
    color: yellow
}