/* *= aplicar a todos os elementos */
*{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
/* .classe=reutilizar em varios elementos */
.destaque {
    color: blue;
    font-weight: bold;
}
/* #id=aplicar a um unico elemento */
#titulo-principal {
    color: red;
    text-align: center;
}
/* tag=aplicar a todos os elementos da mesma tag */
p {
    font-size: 15px;
    line-height: 1.5;
}
/* h1, h2, h3=agrupamento de seletores */
h1, h2, h3 {
    font-family: Arial, sans-serif;
    color: darkgreen;
}

h4 {
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
}
img {
    width: 300px;
    height: auto;
    border: 2px solid black;
    display: block;
    margin: auto;
}

ul {
    list-style-type: none;
    
}